<div id="change-password">
    
    <span class="edit-profile-header">Edit Profile</span>

    <div class="col-12 image-user-name-div">
        <div class="row">
            <div class="col-4 profile-image-div">
                <img class="profile-image" src="{{profilePictureURI}}">
            </div>
            <div class="col-8">
                <span class="firstAndLastName">{{firstAndLastName}}</span>
            </div>
        </div>
    </div>

    <div class="col-12 inputs" [formGroup]="formGroup">
        <div class="col-12">
            <mat-form-field class="width-100-percent">
                <mat-label>Old Password</mat-label>
                <input matInput type="password" placeholder="Input text" formControlName="oldPassword">
             
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="width-100-percent">
                <mat-label>New Password</mat-label>
                <input matInput type="password" placeholder="Input text" formControlName="newPassword">
             
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="width-100-percent">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" placeholder="Input text" formControlName="repeatPassword">
             
            </mat-form-field>
        </div>

        <div class="col-12 div-confirm-buttons width-100-percent">
            <button class="width-100-percent" id="change-password" mat-flat-button color="primary" (click)="updatePassword()">
               CHANGE PASSWORD
            </button>
        </div>
    </div>

</div>