#change-password {
    text-align: left;
    .edit-profile-header {
        margin-left: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    .image-user-name-div {
        margin-top: 25px;
        .row {
            align-items: center;
            .profile-image-div {
                padding-left: 30px !important;
                .profile-image {
                    border-radius: 50%;
                    height: 100px;
                    width: 100px;
                }
            }
            .firstAndLastName {
                font-size: 17px;
            }
        }
    }

    .inputs {
        margin-top: 25px;

        #change-password {
            margin-top: 25px;
            border-radius: 25px;
            text-align: center;
        }

        .div-cancel-button {
            text-align: right;
        }

    }
}