/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-content {
    text-align: center;

    .width-100-percent {
        width: 100%;
    }
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

button:focus,
button:hover { 
    outline: none !important;
}